
<!DOCTYPE html>
<html>
<head>
  <title>Appointment Confirmed</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="center-box">
    <div class="form-box">
      <h2>Your appointment has been confirmed!</h2>
      <div class="button-group">
        <a href="/book"><button>Book Another</button></a>
        <a href="/logout"><button>Logout</button></a>
      </div>
    </div>
  </div>
</body>
</html>
